@model IEnumerable<Infnet.DotnetProject.Assessment.Domain.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @for (var i = Model.Count() - 1; i >= 0; i--)
    {
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(modelItem => modelItem.UserEmail)
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).UserEmail)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(modelItem => modelItem.Content)
                    </dt>
                    <dd>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Content)
                    </dd>
                    @if (!(Model.ElementAt(i).Image == null))
                {
                        <dt>
                            @Html.DisplayNameFor(modelItem => modelItem.Image)
                        </dt>
                        <dd>
                            <div class="panel-thumbnail"><img src="@Html.DisplayFor(modelItem => Model.ElementAt(i).Image)" class="img-responsive"></div>
                        </dd>
                    }
                </dl>
            </div>
            <br />
        </div>

    }
    <br />
</div>
<br />
<br />
<br />
