@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    //Response.Redirect("~/Post", true);
    //Response.Redirect(Url.Action("Index", "Post"));
    <body onload="@("window.location.href='" + @Url.Action("Index", "Post") + "'");"></body>
}
else
{
    <div class="row">
        <div class="col-md-push-4">
            <h2>Welcome stranger, please login or create a new account!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-right">
            <input class="btn btn-primary" type="button" value="Register" onclick="@("window.location.href='" + @Url.Action("Register", "Account") + "'");" />
        </div>
        <div class="col-md-6">
            <input class="btn btn-primary" type="button" value="Login" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");" />
        </div>
    </div>
}